html, body {
  overflow-y: scroll;
  overflow-x: hidden;
  display: block;
  font-size: 13px;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #fff;
}
* {
  box-sizing: border-box;
}


.app-block {
  text-align: center;
  width: 100%;
}

.main-block {
  text-align: center;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.flex {
  display: flex;
}
.card-line {
  display: flex;
  min-width: 300px;
}
.card-line span {
  margin-right: 30px;
}


table.iksweb{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 1px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: 30px;
	height: 35px;
}
table.iksweb th {
	background: #347c99;
	color: #fff;
	font-weight: normal;
}
.primary-text {
  color: #378CFF;
}

.success-text {
  color: #5FB822;
}

.danger-text {
  color: #DC3545;
}

.my-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mt-1 {
  margin-top: 15px;
}
.mb-1 {
  margin-bottom: 15px;
}
.mr-1 {
  margin-right: 15px;
}
.ml-1 {
  margin-left: 15px;
}

.select {
  margin-bottom: 20px;
  width: 100%;

}

.td-center {
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*width: 100% !important;*/
}

.dark-select {
  /*color: transparent !important;*/
}
.dark-select:disabled {
  color: white !important;
}
